body{
    margin:0;padding:0;
    box-sizing: border-box;
    background-color: #393b52;
    display:flex;
    align-items: center;
    justify-content: center;
      color:#fff;
}

h1{
    text-align: center;
    color:#CEAC40;
    text-shadow: 5px 5px 6px rgba(0,0,0,0.3);
}

h1 span{  
    font-size:2em;
    padding-left:1rem;
    padding-right:1rem;
    font-family: 'Qwigley', cursive;}


.container{
    border:2px solid #262626;
    box-shadow: 0 0 10px #01010f;
    margin:5rem;
    background-color: #C61916;
}

.two-col{
    display: flex;
    flex-direction: row;
    flex:1;
    justify-content: space-around;
}

.bottom-btn{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 2%;
}
.bottom-btn button{
    color:#fff;
    border-radius: 50%;
    width:100px;
    height:100px;
    box-shadow: 2px 2px 5px black;
}
.leftBtn {
    margin-right:auto;
}

.left{
    width:25%;
    display: flex;
}

.left *{
    margin-bottom: 10px;
}
.scratchBox{
    border:2px solid #262626;
    width:700px;
    height:700px;
    display:flex;
    flex-direction: column;
    
}

.row{
    display:flex;
    flex-direction:row;
    flex:1;
   
    
}
.box{
    flex:1;
    background-color: #fff;
}